header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f3e9f1;
    height: 100px;
    font-family: $font_header;
    font-size: 2.5rem;
    text-decoration-line: none;
    color: blue;

}
