body{
    font-family: $font_body;
}
.productDisplay{
    @include product_sheet;
}

#listeDesProduits{
    @include product_list;
}

.image{
    width: 100%;
}
.productImage{
    
    @include product_image_display;
}

.productPicture{
    @include product_section_image;
}


#productPage{
    @include product_page_display;
}

a{
    text-decoration-line: none;
    color: $color_font;
}

#cart_product{
    @include display_panier;
}

.productDescription{
    @include product_description_display;
}

#final_product{
     @include final_product;
}

#contact_form{
    @include contact_form_display;
}

.form-example{
    @include form_display;
}

.image_panier{
    width: 100%;
}
.display_in_cart{
    width: 25%;
}


.cart_product{
    @include cart_product_display;
    background-color: #ecf0ef;
    margin: 10px;
    padding: 5px;
    width: 100%;
    box-shadow: $box_shadow;
    align-content: center;

}

/*button{
    display: box;
    background-color: #4ef18f;
    border: none;
    border-radius: 2em;
    font-family: $font_body;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    box-shadow: 2px 5px 15px -3px #505050;
 
}
button:hover{
    border: black solid 2px;
}*/

.button_clean{
    background-color: none;
    border: none;
    cursor: pointer;
    height: 30px;
}
.button_clean:hover{
   color: darken($color:#ecf0ef, $amount: 20);

}


#display_total_panier{
    @include  car_total_display;
}

#display_page{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#page_panier{
    width: 70%;
}

.confirmation_product_display{
    @include display_confirmation;
}
.image_confirmation{
    width: 10%;
}