
.productDisplay{
    @include product_sheet;
}

#listeDesProduits{
    @include product_list;
}

.image{
    
    @include image_size;
}

#productPage{
    @include product_page_display;
}

a{
    text-decoration-line: none;
    color: $color_font;
}

#cart_product{
    @include display_panier;
}

.productDescription{
    @include product_description_display;
}

#final_product{
     @include final_product;
}

#contact_form{
    @include contact_form_display;
}

.form-example{
    @include form_display;
}

.image_panier{
    width: 40%;
}
.display_in_cart{
    width: 25%;
}

.cart_product{
    display: flex;
    justify-content: space-around;
    align-content: center;
}