
@mixin product_sheet {
    background-color: #ecf0ef;
    width: 20%;
    margin: 30px 20px 20px 20px;
    box-shadow: $box_shadow;
    padding: 10px;
    text-align: center;
}

@mixin product_list {
    display: flex;
    justify-content: space-around;  
    flex-wrap: wrap;
}

@mixin product_image_display {
   width: 100%;
   box-shadow: $box_shadow;
}

@mixin product_section_image {
    width: 45%;
    
}

@mixin product_page_display {
    display: flex;
    justify-content: space-between;
    margin: 30px 15px;
  
}


@mixin product_description_display {
    padding: 20px;
    color: $color_font;
}

@mixin display_panier {
    display: flex;
    justify-content: space-around;
    border: gray 1px solid;
    margin: 10px;
    width: 100%;
}

@mixin final_product {
    display: flex;
    justify-content: space-between;
    width: 30%;
    align-items: center;

}

@mixin contact_form_display{
    width: 50%;
    margin: 10px;
    
}

@mixin form_display{
    margin: 10px;
    
}

@mixin display_product_confirmation {
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}


@mixin cart_product_display {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $colorbg_product;
    margin: 10px 0 10px 0;
   
    width: 100%;
    box-shadow: $box_shadow;
    align-content: center;

    
}

@mixin cart_total_display {
    display: block;
    height: 200px;
    width: 25%;
    background-color: $colorbg_product;
    margin: 10px 10px;
    box-shadow: $box_shadow;
    align-self: flex-end;
    text-align: center;
    
}

@mixin display_buttonAdd {    
    display: box;
    background-color: $colorbg-header;
    border: none;
    border-radius: 2em;
    font-family: $font_body;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    box-shadow: $box_shadow;
    
}

@mixin display_panier_page {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;    
}

@mixin display_confirmation {
    margin: 20px 10% 20px 10%;
    padding: 15px;
    background-color: $colorbg_product;

}