
@mixin product_sheet {
    background-color: #f3e9f1;
    width: 20%;
   /* border: 1px solid black;*/
    margin: 30px 20px 20px 20px;
    box-shadow: -1px 1px 18px 4px rgba(101,101,101,0.45);
}

@mixin product_list {
    display: flex;
    justify-content: space-around;  
    flex-wrap: wrap;
}

@mixin image_size {
   width: 100%;
   
}

@mixin product_page_display {
    display: flex;
    justify-content: space-between;
    margin: 30px 15px;
}

@mixin product_description_display {
    padding: 20px;
    color: $color_font;
}
