$color_cadi: linear-gradient(90deg, rgba(247,222,22,0.554796918767507) 0%, rgba(232,150,237,1) 41%, rgba(34,0,255,0.946953781512605) 100%);

$color_font: black;

//font ORINOCO
$font_header: 'Caveat Brush', cursive;


